@media (max-width: 1200px)
	.s_tizers .row > div
		text-align: left
	.tiz_descr
		display: inline-block
		margin: 10px

@media (max-width: 992px)
	.tiz_img
		margin-left: 20px


@media (max-width: 768px)
	.top_phone, .logo, h1, .top_header h2
		text-align: center

	logo
		margin-bottom: 15px

	.top_phone .tab_item
		font-size: 30px

@media (max-width: 600px)
	.profi_item
		width: 100%
		text-align: center
		margin-bottom: 25px


@media (max-width: 480px)
	.top_header
		content: 30px
	
		h1
			font-size: 50px
			line-height: 50px

		h2
			font-size: 26px

	.tabs_header .tabs span
		font-size: 12px

	.button_wrap
		text-align: center

	secton
		h2
			font-size: 38px
			line-height: 42px
		
	