.s_tizers
	+linear-gradient(#c6d8ee, #e8eff7)
	color: $blue-color
	font-family: "CleanvertisingLight", sans-serif
	text-transform: uppercase
	padding: 35px 0 0

	span
		font-size: 14px
		display: block

	strong
		font-weight: normal
		font-size: 23px
		display: block

	.row
		> div
			margin-bottom: 35px

.tiz_img, 
.tiz_descr
	display: inline-block
	vertical-align: bottom

.tiz_img i
	font-size: 70px
	line-height: 48px
	margin-right: 8px

.s_tizers .row
	> div:nth-child(1)
		i
			font-family: "RobotoRegular",sans-serif
			letter-spacing: -12px
			margin-right: 18px
		strong
			font-size: 25px
			line-height: 28px
		span
			font-size: 20px
			line-height: 24px

	> div:nth-child(2)

		span
			font-size: 16px
			line-height: 24px
	
		i
			position: relative
			bottom: -5px
			color: #000

	> div:nth-child(3)
		
		i
			color: #000
			