header
	div.container
		div.row
			div.top-line
				div.col-md-6.col-sm-6 
					.logo ProCurs
					
				div.col-md-6.col-sm-6
					div.top_phone
						div.wrapper
							.tabs
								span.tab Москва / 
								span.tab Караганда
							.tab_content
								.tab_item +7 (999) 999-99-99
								.tab_item +7 (888) 888-88-88
								
		.row
			.top_header.clearfix
				.col-md-12
					h1 Курсы Повышения Знаний
					h2 ProKurs в Москве и Караганде
					
			.tabs_header.clearfix
				.col-md-7
					div.wrapper
						.tabs.clearfix
							span.tab Скидки учащимся 
							span.tab
								span.hidden-sm.hidden-xs Дополнительные скидки
								span.hidden-md.hidden-lg Дополнительно
						.tab_content
							.tab_item 
								ul
									li #[i.fa.fa-calendar] 10% владельцу карты на продолжение обучения на следующем уровне ;
									li #[i.fa.fa-th-list] 5% предъявителю карты на все программы обучения ;
									li #[i.fa.fa-globe] 3-5% на обучение за рубежом.
							.tab_item 
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis magnam rerum perspiciatis reiciendis, asperiores optio dignissimos nesciunt ab cupiditate saepe! Mollitia, maxime inventore, in odit ratione soluta consectetur ipsam animi.
							
							.button_wrap
								a.button.btn_red начать обучение