section.s_profi
	.container
		.row
			.col-md-12
				h2 Доверьте обучение профессионалам
				.row
					.col-md-8 
						.profi_item.clearfix.col-md-12.col-sm-12.col-xs-6
							.profi_left.col-md-2.col-sm-2
								i.fa.fa-globe
							.profi_right.col-md-10.col-sm-10
								h3 Опыт
								p Мы успешно работаем на рынке образовательных услуг уже #[strong более 10 лет,] что подтверждается благодарными отзывами наших многочисленных клиентов.
						.profi_item.clearfix.col-md-12.col-sm-12.col-xs-6
							.profi_left.col-md-2.col-sm-2
								i.fa.fa-arrow-circle-left
							.profi_right.col-md-10.col-sm-10
								h3 Методика
								p Обучение квалификациям проводится по самым современным аутентичным учебникам. У нас работают только #[strong опытные и квалифицированные преподаватели и профессионалы, имеющие сертификаты.]
						.profi_item.clearfix.col-md-12.col-sm-12.col-xs-6
							.profi_left.col-md-2.col-sm-2
								i.fa.fa-gratipay
							.profi_right.col-md-10.col-sm-10
								h3 Расположение
								p Наши учебные аудитории удобно расположены #[strong в центре Москвы и Караганды] рядом со станциями метро.
						.profi_item.clearfix.col-md-12.col-sm-12.col-xs-6
							.profi_left.col-md-2.col-sm-2
								i.fa.fa-github
							.profi_right.col-md-10.col-sm-10
								h3 Индивидуальность
								p Мы делаем акцент на индивидуальном подходе к каждому ученику и четкой организации учебного процесса. #[strong Занятия также могут проводиться на дому или в офисах клиентов.]
								
								
					.col-md-4 
						form
							h2 Связаться с нами
							label
								span Ваше имя:
								input(type="text", name="name", required)
							label
								span Ваш телефон:
								input(type="text", name="phone", required)
							label
								span Ваш город:
								select#(name="city")
									option Москва
									option Карганда
							.button_wrap
								button.button.btn.btn_green Отправить заявку