section.s_tizers
	container
		.row
			.col-md-3
				.tiz_img
					i.fa 10
				.tiz_descr
					span Более 10 лет 
					strong На рынке
			.col-md-3.col-sm-6
				.tiz_img
					i.fa.fa-th-list
				.tiz_descr 
					span Самые современные 
					strong Методики
			.col-md-3.col-sm-6
				.tiz_img
					i.fa.fa-globe
				.tiz_descr 
					span Квалифицированные 
					strong Преподаватели
			.col-md-3.col-sm-6
				.tiz_img
					i.fa.fa-calendar
				.tiz_descr 
					span Гарантия получения 
					strong Высоких баллов
			